/* Reset básico y estilos globales */
body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: linear-gradient(135deg, #EFF6FF 0%, #E0E7FF 50%, #F3E8FF 100%) !important;
  color: #4f4f4f; 
}

/* Para que los títulos se vean más destacados */
h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
